/* 
AVF Week1 
DEMO APP PART ONE
Desire Revon
TERM: 1112
*/

body {
    font-family: "Arial";
}

h1 {
	text-align: left;
	font-size: 50px;
}

h2 {
	font-size: 25px;
}

li {
	font-size: 20px;
}

#header {
}

#content {
	width: 650px;
}

#research {
	width: 200px;
	float: left;
}

#features {
	width: 200px;
	float: left;
}

#api {
	width: 200px;
	float: left;
}